/* General Body Styling */
body {
    background-color: #000000; 
    color: #ff0000; 
    font-family: 'Roboto', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

/* Headings */
h1, h2, h3 {
    color: #ff0000; 
    font-weight: 700;
}

/* Links */
a {
    color: #ff0000; 
    text-decoration: none;
}

a:hover {
    color: #FFFFFF; 
}

/* Experience Section */
#experience {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border: 1px solid #ff0000;
    padding: 20px;
    background-color: #1C1C1C; 
    border-radius: 10px;
}

#experience .job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#experience .job-title {
    font-size: 1.5em;
    font-weight: bold;
}

#experience .job-dates {
    font-size: 1.2em;
    font-style: italic;
    color: #ff0000;
}

#experience .job-description {
    margin-top: 10px;
    font-size: 1em;
    color: #C0C0C0; 
}

/* Connect Section */
#connect ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    margin: 20px 0;
}

#connect li {
    background-color: #1C1C1C;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#connect li:hover {
    background-color: #ff0000; 
}

#connect a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

#connect a:hover {
    color: #000000; 
}

/* Social Media Icons */
#connect img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Navigation Styling */
nav {
    background-color: #1C1C1C;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ff0000;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #ff0000;
    color: #FFFFFF;
    transition: 0.3s ease;
}

/* Footer Styling */
footer {
    background-color: #1C1C1C;
    text-align: center;
    padding: 10px 0;
    color: #ff0000;
}

