
header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}


body {
    background-color: #000000; 
    color: #ff0000; 
    font-family: 'Roboto', Arial, sans-serif;
    padding: 0;
    margin: 0;
}


h1, h2, h3 {
    color: #ff0000;
    font-weight: 700;
}

a {
    color: #ff0000; 
    text-decoration: none;
}

a:hover {
    color: #FFFFFF; 
}


#experience {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border: 1px solid #ff0000;
    padding: 20px;
    background-color: #1C1C1C; 
    border-radius: 10px;
}


#name {
    font-size: 3em;
    color: #ff0000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

#connect ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    margin: 20px 0;
}


#experience .job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#experience .job-title {
    font-size: 1.5em;
    font-weight: bold;
}

#experience .job-dates {
    font-size: 1.2em;
    font-style: italic;
    color: #ff0000;
}

#experience .job-description {
    margin-top: 10px;
    font-size: 1em;
    color: #C0C0C0; 
}


#connect ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    margin: 20px 0;
}

#connect li {
    background-color: #1C1C1C;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#connect li:hover {
    background-color: #ff0000; 
}

#connect a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
}

#connect a:hover {
    color: #000000; 
}

#connect img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


